/* .data{
   
   width:300px;
    justify-content: center;
    align-items: center;
     margin-top: 170px;
     margin-left:500px ;
     border: 2px solid black;

}
.head{
    margin-left: 590px;
   color:rgb(171, 41, 211)

} */
/* body{
   /* background-image:linear-gradient(to right,rgb(179, 31, 134),rgb(36, 223, 207),rgb(69, 69, 219)); */
   /* background-size:100%; */
   /* color: rgb("68, 214, 219"); */

/* }
.data{
  
   background-color: antiquewhite;
   height:500px;
   width:30%;
   margin:0 auto;
   margin-top:50px;
    padding:20px; 
    padding-top:15px;
   font-size:20px;
   border-radius: 10px;
  font-family:'Times New Roman', serif;
  

   /* text-align: center; */
   
}
/* .data1{
text-align: center;
font-size:40px;

}
.data2{
border:none;
outline:none;
border-bottom:2px solid black;
width: 90%;
font-size:17px;
background-color: antiquewhite;
}
.data3{
   border:none;
   outline:none;
   border-bottom:2px solid black;
   background-color: antiquewhite;
   width:90%;
   font-size: 17px;
}
.data4{
   font-size:15px;
   text-align: right; 
   padding-right: 35px;

}
.data5{
   height:40px;
   width:30%;
   /* background-image:repeating-linear-gradient(45deg,purple,red,blue,yellow); */
   /* font-weight:bold;
  margin-left: 130px;
  border-radius: 10px;
  background-color:rgb(57, 219, 71);
  

  
}
p{
   font-size:20px;
   text-align:center;
}
.data6{
   font-size:40px;
   
}
.para{
padding-left:160px ;
}
.data4{
   padding-right:40px; */

