
h1{
    text-align: center;
    
}
body
{
background-image: url("https://img.freepik.com/free-vector/gradient-football-field-background_23-2149013355.jpg?w=360");
background-repeat: no-repeat;
background-size: cover;
}
.list{
    border:none;
    background: transparent;
    border-top:none;
    border-left:none;
    border-right:none;
    outline: none;
    border-bottom: 2px solid black;
    color:aliceblue;
    }
    .data
    {
    position: absolute;
    left:550px;
    top:150px;
    }
    ::placeholder
    {
        color:aliceblue;
    }
